@import "../../styles/color";

.carousel {
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
  .imageBox {
    height: 400px;
    width: 100%;
    overflow: hidden;
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .mapContainer {
    height: 400px;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    height: 300px;
    .imageBox {
      height: 300px;
    }
    .mapContainer {
      height: 300px;
    }
  }
}

.carouselSkeleton {
  margin: 0;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 1;
  @media screen and (max-width: 500px) {
    height: 300px;
  }
}

#cardContainer {
  margin-bottom: 50px;
  @media screen and (max-width: 500px) {
    border: none;
    box-shadow: none;
  }
}

.pinContainer {
  position: absolute;
  top: -35px;
  left: -17px;
  .pinText {
    position: absolute;
    width: 120px;
    height: 53px;
    background-color: white;
    top: -58px;
    left: -45px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    .text {
      width: 100%;
      height: 20px;
      font-size: 13px;
      text-align: center;
      overflow: auto;
    }
  }
  #pinIcon {
    font-size: 35px;
    color: $myBlue;
    cursor: pointer;
  }
}

#enableIcon {
  font-size: 20px;
  color: black;
}

#disableIcon {
  font-size: 20px;
  color: gray;
}

#selectedIcon {
  font-size: 20px;
  color: $myBlue;
}

#arrow {
  color: white;
}

#disableArrow {
  color: darkgray;
  opacity: 0.3;
}

#selectedDot {
  background-color: darkgray;
}

.dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 3px;
  background-color: white;
  cursor: pointer;
}
