@import "../../styles/color";

.whiteMode {
  color: white !important;
  text-decoration: none !important;
}

#navBar {
  background-color: $myBlue;
  min-height: 65px;
  @media screen and (max-width: 500px) {
    min-height: 70px;
    padding-top: 6px;
  }
}

.spacer {
  flex: 1 1 auto;
}
