@import '../../styles/color';

.facebook {
    background-color: $myBlue !important;
}

.google {
    background-color: red !important;
}

.blueBar {
    background-color: $myBlue !important;
    color: white !important;
}